body {
  background: beige;
}
img {
  height: auto;
  width: auto;
  max-width: 200px;
  max-height: 200px;
}
#main,
#intro,
#score {
  text-align: center;
  width: 960px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 200px;
  margin-left: 200px;
  font-family: "Arial", sans-serif;
  line-height: 1.5;
  background-color: lightcoral;
}
h1 {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 25px;
}

p {
  font-weight: bold;
}
